/*.panel-default {
    margin-bottom: 70px;
}*/

.heating.btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

.heating.btn:first-of-type {
    margin-left: 15px;
}

.clearme {
    clear: both;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

#calendar {
    margin-top: 15px;
}